
body {
    background: rgb(114, 0, 114);
    background-repeat: no-repeat;
    background-size: cover;
}

#search-box {
    border-radius: 20px;
}

.title {
    height: 10vh;
}

img {
    max-height: 350px;
    max-width: 90%;
}

.img-container {
    max-width: 500px;
    height: 50vh;
    width: 80%;
}

.form-div {
    max-width: 400px!important;
    height: 20vh;
}

#refresh-button {
    display: block;
    margin-bottom: 8px;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: rgb(250, 187, 0);
    font-weight: 500;
    padding: 8px;
}

#refresh-button:active {
    transform: scale(1.1);
}

.alert {
    max-width: 600px;
}

@media only screen and (min-width: 425px){
    #refresh-button:hover {
        background-color: rgb(233, 175, 3);
    }
}
